.visualization-container {
    margin: 0 auto;
    width: 90%;
    height: 80%;
    border: 3px solid red;
}

.controls-container {
    display: flex;
    flex-direction: column;
    padding: 2em 5em;
    align-content: center;
    text-align: center;
}

.arr-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 3px solid black;
}

.arr-element {
    width: 30px;
    background-color: #c3c3c3;
    display: inline;
    margin: 1px;
    border: 1px solid black;
}

.btn-main {
    width: 60%;
    margin: 0 auto;
}