#right-side-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.visualization-container {
    margin: 0 auto;
    width: 95%;
    height: 95%;
    border: 3px solid red;
}

#left-side-container {
    display: flex;
    flex-direction: column;
}

.controls-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2em 1em;
    align-content: center;
    text-align: center;
}

.controls-element {
    margin-top: auto;
}

#sort-btn {
    margin: 4rem auto;
    padding: 10px;
}

.arr-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 3px solid black;
}

.arr-element {
    width: 30px;
    background-color: #c3c3c3;
    display: inline;
    margin: 1px;
    border: 1px solid black;
}

.btn-main {
    width: 60%;
    margin: 0 auto;
}